<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_jti_surat"
        android:label="JTI Surat"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectSemester4"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".DetailSurat"
            android:exported="false"
            android:label="Detail Surat"/>
        <activity
            android:name=".ListAnggota"
            android:exported="false"
            android:label="List Anggota"/>
        <activity
            android:name=".Fragment4"
            android:exported="false" />
        <activity
            android:name=".TampilanFaq"
            android:exported="false"
            android:gravity="center"
            android:label="FAQ"
            android:theme="@style/Theme.ProjectSemester4" />
        <activity
            android:name=".TambahSurat"
            android:exported="false"
            android:label="Tambah Surat"
            android:theme="@style/Theme.ProjectSemester4" />
        <activity
            android:name=".TampilanUbahProfil"
            android:exported="false"
            android:label="Profil Pengguna"
            android:theme="@style/Theme.ProjectSemester4" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.ProjectSemester4.NoActionBar2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".TampilanLogin"
            android:exported="false"
            android:theme="@style/Theme.ProjectSemester4.NoActionBar2" />
        <activity
            android:name=".TampilanRegister"
            android:exported="false"
            android:theme="@style/Theme.ProjectSemester4.NoActionBar2" />
        <activity
            android:name=".Keys.LoginRequest"
            android:exported="false" />
        <activity
            android:name=".Keys.LoginResponse"
            android:exported="false" />
        <activity
            android:name=".Keys.ApiClient"
            android:exported="false" />
    </application>

</manifest>